# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env

# FAISS vector store files
vector_store/

# Streamlit
.streamlit/config.toml

# VS Code / IDEs
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.pid
*.sock
